
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Form
@import "forms";

// Article
@import "article";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

img{
  max-width:100%;
}
.gallery_images{
  margin-top:30px;
}
#articles > article > header > a > img{
	min-height: 240px;
}
.flyers{
	margin-top: -200px;
}
.flyers .row{
	padding-top: 440px;
}